.mat-toolbar {
    display: flex;
    align-items: center;

    .mat-icon {
        margin-left: auto;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }
}

.account {

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__inner {
        padding: 10px 30px;

        form {
            display: flex;
            border: 1px solid #cccccc;
            border-radius: 3px;
            max-width: fit-content;
            padding: 5px 10px;
            margin-bottom: 10px;

            input {
                max-width: 250px;
            }

            .mat-icon {
                cursor: pointer;
            }
        }

        @media (max-width: 992px) {
            padding: 10px;
        }
    }
}

table {

    border-collapse: collapse;
    border: 1px solid #dddddd;

    th, td {
        padding: 10px 15px;
        border-bottom: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
    }

    th {
        font-weight: 500;

        &.cell {
            text-align: center;
        }
    }

    td {

        &.cell {
            &__num, &__status, &__admin, &__lastlogin {
                text-align: center;
            }
        }
    }

    .cell {
        &__username, &__lastname, &__name, &__lastlogin {
            width: calc((100%-300px) / 4);
        }

        &__status, &__admin {
            width: 130px;
        }
    }

    @media (max-width: 992px) {
        th, td {
            padding: 3px 7px;
            max-width: calc((100%-48px) / 3);
            word-break: break-all;
        }

        .cell {
            &__num {
                width: 40px;
            }
            &__status, &__admin, &__lastlogin {
                display: none;
            }
        }
    }

    @media (max-width: 480px) {
        th, td {
            padding: 3px;
        }        
    }
}